$IMCCONFIG

# IMC2 Freedom CL-2.2 CWG Rasputin 3.5.31 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      DBAT
Autoconnect    1
MinPlayerLevel 0
MinImmLevel    1
AdminLevel     4
Implevel       5
InfoName       Dragonball Advent Truth
InfoHost       208.43.220.232
InfoPort       1280
InfoEmail      iovan@dragonballat.com
InfoWWW        http://www.dragonballat.com
InfoBase       CWG Rasputin 3.5.31
InfoDetails    Under construction currently.

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     74.207.247.83
ServerPort     9000
ClientPwd      dodongo
ServerPwd      dodongo
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         1
#Your server is expecting SHA256 authentication now. Do not remove this line unless told to do so.
SHA256Pwd      1
End

$END
