html, body, #root {
  height: 100%;
  width: 100%;
}

body {

  font-family: 'Courier New', Courier, monospace !important; /* or any monospace font of your choice */
}

.mosaic-window-body {
  overflow-y: scroll !important;
}

.gametextholder {
  white-space: pre-wrap; /* preserves whitespace and wraps text */
  background-color: black;
  color: #cccccc; /* text color, assuming a dark background */
}


.gameinput {
  resize: none;
  color: #cccccc; /* text color, assuming a dark background */
}
