html, body, #root, #gamedisplay {
  height: 100%;
  width: 100%;
}

body {

  font-family: 'Courier New', Courier, monospace !important; /* or any monospace font of your choice */
}

#root {
}

#gamedisplay {

}

#gametextdisplay {
  white-space: pre-wrap; /* preserves whitespace and wraps text */
  background-color: black;
  color: #cccccc; /* text color, assuming a dark background */
}

#gametextholder {
  overflow-y: auto; /* adds a scrollbar if content overflows vertically */
}

#gameinput {
  resize: none;
  color: #cccccc; /* text color, assuming a dark background */
}

#gamedatadisplay {

}